.color-center-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
}

.color-picker-container input[type="color"] {
    -webkit-appearance: none;
    appearance: none;
    width: 20em;
    height: 2em;
    border-radius: 0.5em;
    cursor: pointer;
    padding: 0;
    margin-bottom: 1em;
}

.color-picker-container input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color-picker-container input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 0.5em;
}

.color-picker-container h2 {
    margin: 0;
    font-size: 1.3em;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid #dddddd;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: background-color 0.3s;
}
